.standupContainer {
  border-bottom: 10px solid #4ba492;
}
.standupBorder {
  border-left: 5px solid #4ba492;
}

.blueLightHeader {
  background-color: #043b40 !important;
  color: #4ba492 !important;
}
.blueCreamHeader {
  background-color: #043b40 !important;
  color: #fdfdf1 !important;
}
.blueGoldHeader {
  background-color: #043b40 !important;
  color: #f0cc76 !important;
}

.full {
  height: 18px;
  width: 18px;
  background-color: #4ba492;
  border-radius: 50%;
}
.empty {
  height: 18px;
  width: 18px;
  border: 1px solid #4ba492;
  border-radius: 50%;
}
.tableBtn {
  background-color: #4ba492 !important;
  cursor: pointer;
   border-right:1px solid white;
   transition:all 0.3s ease-in-out;
}

.tableBtn:hover{
  background-color: #f0cc76 !important;
  color: black;
}

