
.serviceImg{
  max-height: 100%;
  max-width: 100%;
}


.specialk{
  position: relative !important;
}
.specialk::before{
  content:" ";
  position: absolute;
  top: 10%;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: 9992;
  background-color: transparent;
}
@media screen and (max-width:600px) {
  .productTopImg{
    max-height: none !important;
  }
  .terms{
    max-width: 75%;
  }
  .terms input{
    padding: 10px !important;
  }
}
.moreProtectionBtn{
  background-color: #f0cc76;
}
.blink{
  animation-name: blink;
  animation-duration: 2s;
  /* animation-iteration-count: 2; */
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@keyframes blink{
  0%{
    background-color: white;
  }
  50%{
      background-color: #f0cc76;

  }
  75%{
    background-color: white;
  }
  100%{
      background-color: #f0cc76;

  }
}