.productImg{
    height: 350px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.arrowImg{
    height: 65px;
}
.exampleCon{
    height: 350px !important;
    background-color: white !important;

}
.bottomBorder{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

}

.rec-arrow:hover{
    background-color: #4ba492 !important;
    
}