.topSearchBar{
}

.customSearchBar{
    background: transparent;
    direction: rtl;
    border: none;
    color: white;
}
.customSearchBar::placeholder{
    color: white !important;
}

.customSearchBar:focus{
    outline: none !important;
}


.logoIcon{
    max-height: 65px !important;
}
.lineLength{
    width: 80% !important;
    height: 2px !important;
    max-height: 65px !important;

}

.blueBorder{
    border-color: #4AA391 !important;
    background-color: white !important;
}

.tableBtn:hover{
background-color: #4BA492 !important;
color:white !important;
}