.navbarCustom {
  height: 70px !important;
  text-decoration: underline;
  color: white;
}
/* .navItemCustom:hover {
  animation: scaleFont 1s ease;
} */

@keyframes scaleFont {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.isPressed{
  color: #4ba492 !important;
}


.dropdown-menu,.dropdown{
border: none !important;
}

a.active{
  color: #4ba492 !important;
}

.navItemCustom:hover{
  transition:all 0.5s ease-in-out;
  font-size: 24px;
  }
  
  a:focus-visible{
    outline: none !important;
  }