.navbarCustom {
  height: 70px !important;
  text-decoration: underline;
  color: white;
}
/* .navItemCustom:hover {
  animation: scaleFont 1s ease;
} */

@keyframes scaleFont {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.isPressed{
  color: #4ba492 !important;
}


.dropdown-menu,.dropdown{
border: none !important;
}

a.active{
  color: #4ba492 !important;
}

.navItemCustom:hover{
  transition:all 0.5s ease-in-out;
  font-size: 24px;
  }
  
  a:focus-visible{
    outline: none !important;
  }
.bbbmenu{
  display: none;
}
.mobileMenu{
  display: none;
}

@media screen and (min-width: 900px) {
  .mobileContainer{
    display: none !important;
  }
}

  @media screen and (max-width: 900px) {
    .navbarCustom {
      display: none !important;
    }
    .bbbmenu{
      display: block;
      float: right;
    }
    .mobileMenu{
      display: block;
      top: 100%;
      min-height: 50vh;
    }

  }
  .mobileitem{
    list-style: none;
    text-decoration: none;
  }
  .mobileitem a{
    text-decoration: none; color: grey;
  }
  .mobileitem:hover{
    background-color: white;
    color: grey;
  }