.contactColumn{
    min-height: 25vh;
    position: fixed !important;
    z-index: 999 !important;
    float: left;
    width: 5vw;
    position: sticky;
    top: 35vh;
    left: 0;
}
.contactItem{
    transition: all 1s ease-in-out;
}
.contactItem img:hover{
    transform: scale(1.1);
}

@media screen and (max-width:600px) {
    .contactColumn {
        top: 72vh !important;
        left: 3%;

    }
  }