
.formItem {
  border-bottom: 1px solid grey;
}
.formInput {
  all: unset;
  direction: rtl;
  text-align: right;
  padding-right: 5px;
}
.formInput::placeholder {
  text-align: start;
  margin: 10px;
  padding: 10px;
}
.formInputItem{
  width: 75px;
}
.messageInput {
  height: 190px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: right;
  text-align: start;
}
.messageInput:focus{
  /* border: none !important; */
}
.headerContainer{
  height: 15% !important;
}
.containerContent{
  height: 15% !important;
}
.standupContainer{
  border-bottom: 10px solid #4ba492;
}
.standupBorder{
  border-left: 5px solid #4ba492
  
}

@media screen and (max-width:600px) {
  .standupBorder {
   border: none !important;
  }

}
@media screen and (max-width:700px) {

  .specialHeader{
    font-size: 60px !important;
    letter-spacing: 10px;
  }
}

@media screen and (max-width:400px) {

  .specialHeader{
    font-size: 35px !important;
    letter-spacing: 10px;
  }
  .formItem{
    margin-top: 5%;
  }
}