.footerHeight{
    min-height: 20vh;
}
.footerItem{
    height: 35px;
    min-width: 15%;
    max-width: 20%;
    border: 1px solid white;

}

.footerBtn:hover{
border: none !important;
background-color: white !important;
color: #1d9d83 !important;
border-radius: 5px;
font-weight: 500;
}


@media screen and (max-width: 600px) {
    .fotterside{
        border:none !important;
    }
  }