.specialOl ol {
  padding: 0 !important;
  list-style-type:decimal;
}

@media screen and (max-width: 600px) {
  .contractBody ol{
    padding: 0 !important;
    width: 90%!important;
    margin:  auto;
  }
  .contractBody li{
   text-align: start;
   /* list-style: decimal !important;
   list-style-type: decimal !important; */

  }
}
