.specialOl ol {
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  .contractBody ol{
    padding: 0 !important;
    width: 90%!important;
    margin:  auto;
  }
  .contractBody li{
    text-align: start;
  }
}
